<div class="hotel bg-white">
  <div class="row">

    <div class="col-12 col-lg-4">
      <img [src]="hotelImage" class="hotel-image">
    </div>

    <div class="col-12 col-lg-5">
      <div class="row">
        <div class="col-12">
          {{hotelName}}
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="col-6">
            <div class = "row">
              <div *ngFor="let i of starsArray(stars).fill(1)">
                <img src="assets/icons/filters/star.svg" class="icon-size">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="col-6">
            <div class = "row">
              <div *ngFor="let a of amenities">
                <img [src]="a" class="icon-size">
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="col-12 col-lg-3">
      <div class="row">
        <div class="col-12" style="margin-top:20px;">
          Precio por noche por habitación
        </div>
      </div>

      <div class="row">
        <div class="col-12" style="margin-top:20px;">
          ARS {{price}}
        </div>
      </div>

      <div class="row">
        <div class="col-12" style="margin-top:20px;">
          <button class="btn btn-primary" type="button">
            Ver Hotel
          </button>
        </div>
      </div>

    </div>

  </div>
</div>
