.top-space{
  margin-top: 10px;
}

.filters{
  padding: 10px;
  margin-bottom: 5px;
}

.filters-row{
  margin-top: 10px;
}

.negrita{
  font-weight: bold;
}

.icon-size{
  height:20px;
  width: 20px;
}

.hotel{
  padding: 5px;
  margin-bottom: 10px;
}

.hotel-image{
  height:180px;
  width: 250px;
}

@media (max-width: 992px){

  .hotel-image{
    height:180px;
    width: 100%;
  }
}
