<div class="container">
  <div class="row top-space">

    <div class="col-12 col-lg-3">
      <div class = "col-12 negrita bg-white filters">
        Filtros
      </div>

      <div class = "col-12 bg-white filters">
        <div class = "row">
          <div class = "col-3 ">
            <img src="assets/icons/filters/search.svg" class="icon-size">
          </div>
          <div class = "col-9 ">
            <a class="" data-toggle="collapse" href="#hotelName" role="button" aria-expanded="false" aria-controls="hotelName">
              Nombre del hotel
            </a>
          </div>
        </div>
        <div class = "row collapse filters-row" id="hotelName">
          <div class = "col-7 " style="margin-right: 20px;">
            <input type="text" placeholder="Ingrese el nombre del hotel" [(ngModel)]="hotelName">
          </div>
          <div class = "col-4 ">
            <button class=" btn-primary" type="button" (click)="filter()">
              Aceptar
            </button>
          </div>
        </div>
      </div>

      <div class = "col-12 bg-white filters">
        <div class = "row">
          <div class = "col-3 ">
            <img src="assets/icons/filters/star.svg" class="icon-size">
          </div>
          <div class = "col-9 ">
            <a class="" data-toggle="collapse" href="#stars" role="button" aria-expanded="false" aria-controls="stars">
              Estrellas
            </a>
          </div>
        </div>
        <div class = "row collapse filters-row" id="stars">
          <div class="form-check">
            <div class="col-12 filters-row">
              <input type="checkbox" class="form-check-input" id="allStars" [(ngModel)]="allStars" (ngModelChange)="setAllStars()">
              <label class="form-check-label" for="allStars">Todas las estrellas</label>
            </div>
            <div class="col-12 filters-row">
              <input type="checkbox" class="form-check-input" id="oneStar" [(ngModel)]="oneStar" (ngModelChange)="filter()">
              <label class="form-check-label" for="oneStar">
                <img src="assets/icons/filters/star.svg" class="icon-size">
              </label>
            </div>
            <div class="col-12 filters-row">
              <input type="checkbox" class="form-check-input" id="twoStarts" [(ngModel)]="twoStars" (ngModelChange)="filter()">
              <label class="form-check-label" for="twoStarts">
                <img src="assets/icons/filters/star.svg" class="icon-size">
                <img src="assets/icons/filters/star.svg" class="icon-size">
              </label>
            </div>
            <div class="col-12 filters-row">
              <input type="checkbox" class="form-check-input" id="threeStarts" [(ngModel)]="threeStars" (ngModelChange)="filter()">
              <label class="form-check-label" for="threeStarts">
                <img src="assets/icons/filters/star.svg" class="icon-size">
                <img src="assets/icons/filters/star.svg" class="icon-size">
                <img src="assets/icons/filters/star.svg" class="icon-size">
              </label>
            </div>
            <div class="col-12 filters-row">
              <input type="checkbox" class="form-check-input" id="fourStarts" [(ngModel)]="fourStars" (ngModelChange)="filter()">
              <label class="form-check-label" for="fourStarts">
                <img src="assets/icons/filters/star.svg" class="icon-size">
                <img src="assets/icons/filters/star.svg" class="icon-size">
                <img src="assets/icons/filters/star.svg" class="icon-size">
                <img src="assets/icons/filters/star.svg" class="icon-size">
              </label>
            </div>
            <div class="col-12 filters-row">
              <input type="checkbox" class="form-check-input" id="fiveStarts" [(ngModel)]="fiveStars" (ngModelChange)="filter()">
              <label class="form-check-label" for="fiveStarts">
                <img src="assets/icons/filters/star.svg" class="icon-size">
                <img src="assets/icons/filters/star.svg" class="icon-size">
                <img src="assets/icons/filters/star.svg" class="icon-size">
                <img src="assets/icons/filters/star.svg" class="icon-size">
                <img src="assets/icons/filters/star.svg" class="icon-size">
              </label>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-9">
      <hotel-cards [listHotelFilter]="listHotel"></hotel-cards>
    </div>
  </div>
</div>
